{% extends "col2base.html" %}
{%load jcs_tags %}
{%load analyst_tags %}



{% block postPageCss %}
<link href="//cdn.bootcss.com/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet">
{% endblock %}
{% block sidebar %}
    {% staff_side %}
{% endblock %}
{% block rightcontent %}
<!--form class="form-inline" method="get" action="#">
<fieldset>

  <input  name="action" value="search" type="hidden" />

    <div class="form-group">
        <input type="search" class="form-control" name="author_word" id="author_word" placeholder="请输入作者网络昵称">
    </div>
      &nbsp; &nbsp;
    <div class="form-group">
      <label>创建时间:</label>
      <input type="text" class="form-control" value="{{ from_date }}" name="from_date" id="from_date" placeholder="点击选择开始日期">
      </div>
      <div class="form-group">
          <label for="exampleInputEmail2">至</label>
          <input type="text" class="form-control" value="{{ to_date }}" name="to_date" id="to_date" placeholder="点击选择结束日期" >
      </div>

     <button class="btn btn-primary" type="submit">搜索</button>


</fieldset>
</form-->
<br>
<div class="row">
<div class="col-md-12">
    <a class="btn btn-primary" href="/site/fabugonggao/">发布公告</a><br>
<table class="table table-bordered table-striped table-hover sortable">
<thead>
<tr><th>ID</th>
    <th>标题</th>
    <th>发布者</th>
    <th>发布时间</th>
    <th>最后修改</th>
    <th>操作</th>
</tr>
</thead>
<tbody>
{% for object in pager.object_list %}
<tr>
<td>{{ object.id }}
<th><a href="/site/gonggao/?id={{ object.id }}" target="_blank">{{ object.title }}</a></th>
<td>{{ object.poster.username }}</td>
<td>{{ object.date_added|date:"Y-m-d H:i" }}</td>
<td>{{ object.last_modified|date:"Y-m-d H:i"}}</td>

<td>
   <div class="btn-group">

        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">操作<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="/site/fabugonggao/?id={{ object.id }}">修改</a></li>

        </ul>
    </div>
</td>
</tr>

{% endfor %}
</tbody>
</table>
{% csrf_token %}
{% pager %}
</div>
</div>


{% endblock %}
{% block postPageJS %}
<script src="//cdn.bootcss.com/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="/static/js/sorttable.js"></script>
<script type="text/javascript">
/*
$(function() {
    $( "#from_date" ).datepicker({
      defaultDate: "+0d",
      dateFormat: "yy-mm-dd",
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#to_date" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#to_date" ).datepicker({
      defaultDate: "+1d",
      dateFormat: "yy-mm-dd",
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#from_date" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
  });*/
</script>
{% endblock %}