<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
<title>欧洲杯</title>
<link href="/static/img/euro/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="bgbox"><img src="/static/img/euro/mailbg.jpg">
<div class="cnbox">
	<div class="toplin">
    	<span class="before"><a href="#"><i><img src="/static/img/euro/befor.png"></i>前一天</a></span>
        <span class="time">2016-06-11 星期六</span>
        <span class="before after"><a href="#">后一天<i><img src="/static/img/euro/ater.png"></i></a></span>
    </div>
    <div class="conlist">

    	<div class="list"><img src="/static/img/euro/conbg.png">
        	<div class="conbox">
            	<div class="txt">点击看<span class="f14">0</span>名专家预测</div>
                <dl>
        			<dt><img src="/static/img/euro/img.jpg"></dt>
            		<dd>法国</dd>
       			</dl>
                <div class="time_num">
                	<span class="time">03:00开赛</span>
                    <span class="time num">?  :  ?</span>
                </div>
                <dl>
        			<dt><img src="/static/img/euro/img.jpg"></dt>
            		<dd>罗马尼亚</dd>
       			</dl>
            </div>
        </div>
        <div class="list"><img src="/static/img/euro/conbg.png">
        	<div class="conbox">
            	<div class="txt">点击看<span class="f14">0</span>名专家预测</div>
                <dl>
        			<dt><img src="/static/img/euro/img.jpg"></dt>
            		<dd>阿尔巴尼亚</dd>
       			</dl>
                <div class="time_num">
                	<span class="time">21:00开赛</span>
                    <span class="time num">?  :  ?</span>
                </div>
                <dl>
        			<dt><img src="/static/img/euro/img.jpg"></dt>
            		<dd>瑞士</dd>
       			</dl>
            </div>
        </div>

        <!--div class="list"><img src="/static/img/euro/conbg.png">
        	<div class="conbox">
            	<div class="txt">点击看<span class="f14">125</span>名专家预测</div>
                <dl>
        			<dt><img src="/static/img/euro/img.jpg"></dt>
            		<dd>德国</dd>
       			</dl>
                <div class="time_num">
                	<span class="time">12:30开赛</span>
                    <span class="time num">04  :  05</span>
                </div>
                <dl>
        			<dt><img src="/static/img/euro/img.jpg"></dt>
            		<dd>德国</dd>
       			</dl>
            </div>
        </div>
        <div class="list"><img src="/static/img/euro/conbg.png">
        	<div class="conbox">
            	<div class="txt">点击看<span class="f14">125</span>名专家预测</div>
                <dl>
        			<dt><img src="/static/img/euro/img.jpg"></dt>
            		<dd>德国</dd>
       			</dl>
                <div class="time_num">
                	<span class="time">12:30开赛</span>
                    <span class="time num">04  :  05</span>
                </div>
                <dl>
        			<dt><img src="/static/img/euro/img.jpg"></dt>
            		<dd>德国</dd>
       			</dl>
            </div>
        </div>
        <div class="list"><img src="/static/img/euro/conbg.png">
        	<div class="conbox">
            	<div class="txt">点击看<span class="f14">125</span>名专家预测</div>
                <dl>
        			<dt><img src="/static/img/euro/img.jpg"></dt>
            		<dd>德国</dd>
       			</dl>
                <div class="time_num">
                	<span class="time">12:30开赛</span>
                    <span class="time num">04  :  05</span>
                </div>
                <dl>
        			<dt><img src="/static/img/euro/img.jpg"></dt>
            		<dd>德国</dd>
       			</dl>
            </div>
        </div>
        <div class="list"><img src="/static/img/euro/conbg.png">
        	<div class="conbox">
            	<div class="txt">点击看<span class="f14">125</span>名专家预测</div>
                <dl>
        			<dt><img src="/static/img/euro/img.jpg"></dt>
            		<dd>德国</dd>
       			</dl>
                <div class="time_num">
                	<span class="time">12:30开赛</span>
                    <span class="time num">04  :  05</span>
                </div>
                <dl>
        			<dt><img src="/static/img/euro/img.jpg"></dt>
            		<dd>德国</dd>
       			</dl>
            </div>
        </div>
        <div class="list"><img src="/static/img/euro/conbg.png">
        	<div class="conbox">
            	<div class="txt">点击看<span class="f14">125</span>名专家预测</div>
                <dl>
        			<dt><img src="/static/img/euro/img.jpg"></dt>
            		<dd>德国</dd>
       			</dl>
                <div class="time_num">
                	<span class="time">12:30开赛</span>
                    <span class="time num">04  :  05</span>
                </div>
                <dl>
        			<dt><img src="/static/img/euro/img.jpg"></dt>
            		<dd>德国</dd>
       			</dl>
            </div>
        </div>
        <div class="list"><img src="/static/img/euro/conbg.png">
        	<div class="conbox">
            	<div class="txt">点击看<span class="f14">125</span>名专家预测</div>
                <dl>
        			<dt><img src="/static/img/euro/img.jpg"></dt>
            		<dd>德国</dd>
       			</dl>
                <div class="time_num">
                	<span class="time">12:30开赛</span>
                    <span class="time num">04  :  05</span>
                </div>
                <dl>
        			<dt><img src="/static/img/euro/img.jpg"></dt>
            		<dd>德国</dd>
       			</dl>
            </div>
        </div-->
    </div>
</div>
<div class="foot"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.xycentury.jcs.jcsand"><img src="/static/img/euro/foot.jpg"></a><span class="close"><a href="#">关闭</a></span></div>
</div>

<script>

</script>
</body>
</html>
