{% extends "col2base.html" %}
{% load analyst_tags %}
{%load jcs_tags %}
{%load app_tags %}
{% load i18n %}
{%load jauth_tags %}
{% block postPageCss %}
<link href="//cdn.bootcss.com/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet">
{% endblock %}
{% block sidebar %}
    {% analyst_side %}
{% endblock %}
{% block rightcontent %}
<form class="form-inline" method="get" action="#" onsubmit="return checkValid()">
  <fieldset>
  <div class="form-group">
      <label>{% trans '付款时间' %}:</label>
      <input type="text" class="form-control" value="{{ from_date }}" name="from_date" id="from_date" >
  </div>
  <div class="form-group">
      <label for="exampleInputEmail2">{% trans '至' %}</label>
      <input type="text" class="form-control" value="{{ to_date }}" name="to_date" id="to_date" >
  </div>
      <button class="btn btn-primary" type="submit">{% trans '搜索' %}</button>
  </fieldset>
</form>

<div class="text-danger">{% trans '该时间段内合计' %}:{{ gold_sum|default_if_none:"0"|centesimal }}{% trans '精彩币' %}</div>

 <br>
<div class="row">
<div class="col-md-12">
<table class="table table-bordered table-striped table-hover sortable">
<thead>
<tr><th>ID</th>
    <th>{% trans '用户ID' %}</th>
    <th>{% trans '老师' %}</th>
    <th>{% trans '文章ID' %}</th>
    <th>{% trans '时间' %}</th>
    <th>{% trans '来源' %}</th>
    <th>{% trans '金额' %}</th>
    <th>{% trans '状态' %}</th>
</tr>
</thead>
<tbody>
{% for object in pager.object_list %}
<tr>
<td>{{ object.id }}</td>
<td>{{ object.user.userid }}</td>
<td>{{ object.author.nick_name }}</td>
<td>{{ object|purchasetarget_name|safe }}</td>
<td>{{ object.cdate|notzdate }}</td>
<td>{{ object.ran_pay }}

</td>
<td>{{ object.price|centesimal }}{% trans '精彩币' %}</td>
<td>{{ object.status|yesno:"成功,失败,失败" }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% csrf_token %}
{% pager %}
</div>
</div>


{% endblock %}
{% block postPageJS %}
<script src="//cdn.bootcss.com/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="/static/js/sorttable.js"></script>
<script type="text/javascript">
  $(function() {
    $( "#from_date" ).datepicker({
      defaultDate: "+0d",
      dateFormat: "yy-mm-dd",
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#to_date" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#to_date" ).datepicker({
      defaultDate: "+1d",
      dateFormat: "yy-mm-dd",
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#from_date" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
  });
  function  checkValid(){
      if ($("#from_date").val().length<1){
          alert("必须选择时间范围");
          return false;
      }
      if($("#from_date").val().length!=$("#to_date").val().length){
          alert("时间范围必须两个都要选!");
          return false;
      }else {
          return true;
      }
  }
</script>
{% endblock %}