{% extends "col2base.html" %}
{%load jauth_tags %}

{% block sidebar %}
{% user_side %}
{% endblock %}
{% block rightcontent %}
<div class="">
<form class="form-horizontal" action="" method="post" id="mimaForm" name="mimaForm" ng-controller="mimaCtrl">
  <legend>修改密码</legend>
  {% csrf_token %}
  <div class="form-group" >
    <label class="control-label col-sm-2" for="">当前密码:</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="id_oldpassword"  name="oldpassword" placeholder="输入用户名" required  ng-model="user.oldpassword"  >
    </div>
    <div class="col-sm-6">
      <span class="text-danger" ng-show="mimaForm.oldpassword.$error.required">需要填写</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="inputPassword">新密码:</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="id_newpassword"  name="newpassword" placeholder="输入密码" required ng-model="user.password" ng-minlength="6">
    </div>
    <div class="col-sm-6">
      <span class="text-danger" ng-show="mimaForm.newpassword.$error.minlength">需要6个字符以上</span>
      <span class="text-danger" ng-show="mimaForm.newpassword.$error.required">需要填写</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="inputRePassword">确认密码:</label>
    
    <div class="col-sm-4">
      <input type="password"  class="form-control" id="inputRePassword"   name="RePassword" placeholder="输入重复密码" required ng-model="user.repassword" ng-minlength="6" ng-change="rePasswordCheck()">
    </div>
    <div class="col-sm-6">
      <span class="text-danger" ng-show="mimaForm.RePassword.$error.minlength">需要6个字符以上</span>
      <span class="text-danger" ng-show="mimaForm.RePassword.$error.required">需要填写</span>
      <span class="text-danger" ng-show="mimaForm.RePassword.$error.equalsto">重复密码需与上面密码相同</span>
      </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
         <button type="button" ng-click="changePassword()" class="btn btn-primary" ng-disabled="mimaForm.$invalid">提交修改</button>
      
    </div>
  </div>
</form>
</div>
{% endblock %}
{% block postPageJS %}
<script>
function mimaCtrl($scope,$http){
  $scope.rePasswordCheck = function(){
    $scope.mimaForm.RePassword.$error.equalsto = ($scope.user.password != $scope.user.repassword);
  };

  $scope.changePassword=function(){
    //console.log($scope.user.agreement);
    
    $.post("/yonghu/mima/", $("#mimaForm").serialize(),
        function(data){
          if(data.result){
            alert("修改成功");
            location = "/yonghu/";
          }else{
            alert(data.message);
          }
      }, "json");
  };
}
  
</script>
{% endblock %}
