{% extends "col2base.html" %}
{%load ueditor_tags %}
{%load lottery_tags %}
{%load jcs_tags %}
{%load app_tags %}

{% block postPageCss %}
<style>

</style>
{% endblock %}
{% block sidebar %}
{% staff_side %}
{% endblock %}
{% block rightcontent %}
<h2></h2>
<form class="form-horizontal" action="" method="post" id="articleForm" name="articleForm" ng-controller="articleCtrl">
{% csrf_token %}
 {% if article %}
 <input name="id" type="hidden" value="{{ article.id }}">
 {% endif %}
<div style="width: 50%;float: left">
<fieldset>
    <legend>内容库文章编辑</legend>
    {% if not article %}
    <div class="form-group">
        <div class="col-sm-8">
          <div class="checkbox">
            <label>
              <input id="is_toppage" name="is_toppage" type="checkbox" ng-model="article.is_toppage" />上首页
            </label>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="form-group">
       <div class="col-sm-6">
         <input type="text" id="inputTitle"  class="form-control "  name="title" ng-model="article.title" placeholder="请输入文章标题"  required  ng-minlength="2" ng-maxlength="100">
       </div>
       <div class="col-sm-6">
        <span class="text-danger" ng-show="resultForm.title.$error.required">需要填写</span>
        <span class="text-danger" ng-show="resultForm.title.$error.minlength">至少2个字符</span>
        <span class="text-danger" ng-show="resultForm.title.$error.maxlength">至多100个字符</span>
        </div>
         <div class="col-sm-6">
        <span class="text-danger" ng-show="resultForm.title.$error.required">需要填写</span>
        <span class="text-danger" ng-show="resultForm.title.$error.minlength">至少2个字符</span>
        <span class="text-danger" ng-show="resultForm.title.$error.maxlength">至多100个字符</span>
        </div>

    </div>
    {% if article.chargeable or article.type %}
    <div class="form-group">
        <div class="col-sm-8">
            <textarea class="form-control" style="width: 450px"  disabled="disabled" required  ng-minlength="6" ng-maxlength="300"  rows="4"  placeholder="收费文章摘要可免费观看,请勿泄露任何关键收费内容">{{ digestcontent }}</textarea>
        </div>
        <br>
        <div>
            <div class="col-sm-6">
{#                <span class="text-info">{% verbatim %}{{ article.digest.length }}{% endverbatim %}</span>#}
                <span class="text-danger" ng-show="articleForm.digest.$error.required">需要填写</span>
                <span class="text-danger" ng-show="articleForm.digest.$error.minlength">至少6个字符</span>
                <span class="text-danger" ng-show="articleForm.digest.$error.maxlength">至多300个字符</span>
            </div>
        </div>
    </div>
    {% endif %}
{#    <div class="form-group form-inline">#}
{#       <div class="col-sm-2 ">#}
{#         <input type="text" id="inputNickname"  class="form-control" ng-keypress="keyPress($event)"  name="nick_name" ng-model="nick_name" placeholder="输入昵称搜索"   >#}
{##}
{#       </div>#}
{#       <div class="col-sm-1">#}
{#           <button class="btn btn-default" ng-click="getAnalysts()">搜索</button>#}
{#         </div>#}
{#       <div class="col-sm-3">#}
{##}
{#           <select id="authorSelect" name="author_id" class="form-control" ng-model="article.author"#}
{#           ng-options="analyst.nick_name  for analyst in analysts track by analyst.id">#}
{#           <option value="">输入昵称搜索后再选择</option>#}
{#           </select>#}
{#       </div>#}
{#    </div>#}
    <div>
        讲师：{{ article.author.nick_name }}
    </div>
    <div>
     {% if article %}
    <br>发布时间:{{article.date_added|date:"Y-m-d H:i" }}
    <br>最迟修改时间:{{article.end_time|date:"Y-m-d H:i" }}
         <br>{% lottery_select %}
      {% endif %}
    {% if article.taskid %}
    <br><a target="_blank" href="/wenzhang/yuantie/?taskid={{ article.taskid }}">跳转原文页面</a>
      {% endif %}

    </div>
<div class="form-group">
        <div class="col-sm-8">
{#        <script id="textdescription" name="text"   style="display: inline-block;" type="text/plain">#}
            <div style="width: 450px;height: 660px" disabled="disabled">{{textcontent|check_banned_words|safe}}</div>


{#</script>#}
        </div>
        <div class="col-sm-4" style="display: none">
          {% lottery_select %}
        </div>
</div>
    <div class="form-group input-lg" style="height: auto">
        <div class="col-sm-2">
            相关标签:
        </div>
        <div>
            {% portal_checks %}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3">
         <button type="button" ng-click="postArticle()" class="btn btn-primary btn-lg" ng-disabled="articleForm.$invalid" >发布<img alt="加载中" width="18px" class="hide" src="/static/img/loading.gif"/></button>

        </div>
        </div>

</fieldset>
</div>
    <div style="background: beige;width: 2px;height: 1000px;float: left;margin-right: 13px;margin-top: 30px;"></div>
<div >
    <fieldset>
    <legend>内容翻译编辑</legend>
    {% if not article %}
    <div class="form-group">
        <div class="col-sm-8">
          <div class="checkbox">
            <label>
              <input id="is_toppage" name="is_toppage" type="checkbox" ng-model="article.is_toppage" />上首页
            </label>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="form-group">
       <div class="col-sm-6">
         <input type="text" id="inputTitle"  class="form-control "  name="title" ng-model="article.title" placeholder="请输入文章标题"  required  ng-minlength="2" ng-maxlength="100">
       </div>
       <div class="col-sm-6">
        <span class="text-danger" ng-show="resultForm.title.$error.required">需要填写</span>
        <span class="text-danger" ng-show="resultForm.title.$error.minlength">至少2个字符</span>
        <span class="text-danger" ng-show="resultForm.title.$error.maxlength">至多100个字符</span>
        </div>

    </div>
    {% if article.chargeable or article.type %}

    <div class="form-group">
        <div class="col-sm-8">
            <textarea class="form-control" style="width: 450px" required  ng-minlength="6" ng-maxlength="300" ng-model="article.digest" id="digestText" name="digest" rows="4" placeholder="收费文章摘要可免费观看,请勿泄露任何关键收费内容">{{ tansaltedigest}}</textarea>
        </div>

        <br>
{#        <div>#}
{#            <div class="col-sm-6">#}
{#                <span class="text-info">{% verbatim %}{{ article.digest.length }}{% endverbatim %}</span>#}
{#                <span class="text-danger" ng-show="articleForm.digest.$error.required">需要填写</span>#}
{#                <span class="text-danger" ng-show="articleForm.digest.$error.minlength">至少6个字符</span>#}
{#                <span class="text-danger" ng-show="articleForm.digest.$error.maxlength">至多300个字符</span>#}
{#            </div>#}
{#        </div>#}
    </div>
    {% endif %}
{#    <div class="form-group form-inline">#}
{#       <div class="col-sm-2 ">#}
{#         <input type="text" id="inputNickname"  class="form-control" ng-keypress="keyPress($event)"  name="nick_name" ng-model="nick_name" placeholder="输入昵称搜索"   >#}
{##}
{#       </div>#}
{#       <div class="col-sm-1">#}
{#           <button class="btn btn-default" ng-click="getAnalysts()">搜索</button>#}
{#         </div>#}
{#       <div class="col-sm-3">#}
{##}
{#           <select id="authorSelect" name="author_id" class="form-control" ng-model="article.author"#}
{#           ng-options="analyst.nick_name  for analyst in analysts track by analyst.id">#}
{#           <option value="">输入昵称搜索后再选择</option>#}
{#           </select>#}
{#       </div>#}
{#    </div>#}
  <div>
        讲师：{{ article.author.nick_name }}
    </div>
    <div>
     {% if article %}
    <br>发布时间:{{article.date_added|date:"Y-m-d H:i" }}
    <br>最迟修改时间:{{article.end_time|date:"Y-m-d H:i" }}
         <br>{% lottery_select %}
      {% endif %}
    {% if article.taskid %}
    <br><a target="_blank" href="/wenzhang/yuantie/?taskid={{ article.taskid }}">跳转原文页面</a>
      {% endif %}

    </div>
<div class="form-group">
        <div class="col-sm-8">
        <script id="textdescription" name="text"   style="display: inline-block;" type="text/plain">
        {{translate_text|check_banned_words|safe}}
</script>
        </div>



</div>
</fieldset>

</div>
{% endblock %}

{% block postPageJS %}
{% ueditor %}
<script type="text/javascript">
    var ueditor = UE.getEditor('textdescription',{'initialFrameWidth': 450, 'initialFrameHeight': 600, 'serverUrl': '/ueditor/controller/?imagePathFormat=&filePathFormat='});
     ueditor.ready(function(){

     });
</script>
<script type="text/javascript">


  function articleCtrl($scope,$http){
    $scope.analysts=[]
    $scope.article={}
    {% if article %}
        $scope.article={"title":"{{ article.title }}",
                        "digest":$("#digestText").val()};
        $scope.analysts=[{
            "id":"{{ article.author.id}}",
            "nick_name":"{{article.author.nick_name}}"
        }]
        $scope.article.author=$scope.analysts[0]
        {% for portal in article.portal_tags.all %}

            $(":checkbox[value='{{ portal.id }}']").prop( "checked", true );
        {% endfor %}


    {% endif %}
    /*
    $scope.getAnalysts=function(){
        console.log($scope.article.author)
        if((!$scope.nick_name) || $scope.nick_name.length<2){
            alert("请至少输入两个关键字");
            return false;
        }
        $http.get('/laoshi/author_sousuo/', {params: {"nick_name":$scope.nick_name}}).
        success(function(data) {
            console.log(data);
            $scope.analysts=data;

        });
    }
    */
    $scope.keyPress=function(event){
      if(event.keyCode==13 ||event.keyCode==32){

        $scope.getAnalysts()
      }
    };
    $scope.postArticle=function(){
      //$('#textdescription').val(ueditor.getContent());
      if(ueditor.getContent().length<16){
        alert("内容不得少于16个字符");
        return false;
      }
      if(ueditor.getContent().length>65518){
        alert("内容不得多于65518个字符");
        return false;
      }
      /*
      if($("#authorSelect").val().length==0){
         alert("请选择作者");
         return false;
      }

      if($(":checked[name='portaltags']").length>1){
         alert("最多只能选1个标签");
         return false;

      }
      */
      next = "/wenzhang/translate/";
      //console.log($('#textdescription').val());
      $(".btn-primary img").show();
      $.post("", $("#articleForm").serialize(),
        function(data){
            if(data.result){
              alert("发布成功!");
              location = next;
            }else{
              alert("发布失败："+data.message);
              $(".btn-primary img").hide();
            }
        }, "json");
    };
    $scope.has_banned=function(){
        $http.post("/wenzhang/has_banned/", {"text":ueditor.getContent()}).success(
        function(data){
            if(data.result){
              alert("文字中包含敏感词:"+data.message);
              return true;
            }else{
              return false;
            }
        });
    }
  }
</script>
{% endblock %}